# Django Web Framework
django==5.2.4

# Django REST Framework for building APIs
djangorestframework==3.16.0

# Feedparser for parsing RSS and Atom feeds
feedparser==6.0.11

requests==2.32.4
google-generativeai==0.8.5
pylint-django==2.6.1
gunicorn==22.0.0
